{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une question</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}


{% endblock %}