{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifier la question {{ question.name }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.question) }}
    {{ form_row(form.askedAt) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}


{% endblock %}